body {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
        font-size: 1em;
}
.buttons {
        display: flex;
        flex-direction: row;
        gap: 1em;
}
.buttons > button {
        font-size: 1em;
        padding: 1em;
}
#playback {
        width: 100%;
        height: 100px;
}
